<div class="header">
  <div class="now-playing">
    {{#if player.isLoaded}}
      {{player.source}}
    {{else}}
      (no file loaded)
    {{/if}}
  </div>

  <div class="playback-controls">
    <button {{action "togglePause"}} disabled={{player.isNotLoaded}}>
      {{#if player.isPlaying}}
        {{fa-icon "pause"}}
      {{else}}
        {{fa-icon "play"}}
      {{/if}}
    </button>
    <button {{action "stop"}} disabled={{player.isNotLoaded}}>
      {{fa-icon "stop"}}
    </button>
  </div>
</div>

{{playback-bar
  duration=player.duration
  position=player.position
  seek=(action "seek")
}}
