{{player.status}}
{{player.source}}
{{format-seconds player.position}}
{{format-seconds player.duration}}
{{format-seconds remaining}}

<button {{action "togglePause"}}>Pause</button>
<button {{action "stop"}}>Stop</button>
