<br/>
<div id="settings">
  {{#link-to "settings"}}{{fa-icon "cog"}} settings{{/link-to}}
</div>

<div id="upload">
  {{#file-upload name="media" onfileadd=(route-action "uploadMedia") as |queue|}}
    <a class="button">
      {{fa-icon "upload"}}
      {{#if queue.files.length}}
        Uploading... {{queue.progress}}%
      {{else}}
        Upload file
      {{/if}}
    </a>
  {{/file-upload}}
</div>

<h2>Video</h2>
<ul class="media-list">
  {{#each video as |mediaFile|}}
    <li>
      <button {{action "play" mediaFile.source}}>{{fa-icon "play"}}</button>
      {{mediaFile.source}}
      <div class="actions">

        <button {{action "delete" mediaFile}}>{{fa-icon "trash"}}</button>
      </div>
    </li>
  {{/each}}
</ul>

<h2>Audio</h2>
<ul class="media-list">
  {{#each music as |mediaFile|}}
    <li>
      <button {{action "play" mediaFile.source}}>{{fa-icon "play"}}</button>
      {{mediaFile.source}}
      <div class="actions">

        <button {{action "delete" mediaFile}}>{{fa-icon "trash"}}</button>
      </div>
    </li>
  {{/each}}
</ul>
{{outlet}}
