<h1>Settings</h1>

{{#if player.isConnected}}
  <div class="message message-good">
    {{fa-icon "check-circle"}} PiDeck connection OK.
    Return to {{#link-to "media"}}Media{{/link-to}}.
  </div>
{{else}}
  <div class="message message-bad">
    {{fa-icon "times-circle"}} PiDeck connection failed.
    <ul>
      <li>Verify that the Raspberry Pi is powered.</li>
      <li>Verify that the Raspberry Pi has a network connection.</li>
      <li>Update the API Domain to match the Raspberry Pi.</li>
    </ul>
  </div>
{{/if}}

<div class="settings-row">
  <span class="settings-label">API Domain:</span>
  {{input value=(mut apiDomain)}}
  <button {{action "changeApiDomain"}}>Save</button>
</div>
<div class="settings-row">
  <span class="settings-label">Display Mode:</span>
  <ul class="button-group">
    <li><button {{action "setDisplayMode" "off"}}>Off</button></li>
    <li><button {{action "setDisplayMode" "blank"}}>Blank</button></li>
    <li><button {{action "setDisplayMode" "desktop"}}>Desktop</button></li>
  </ul>
</div>
